In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import spacy
import re
from os import listdir
from os.path import isfile, join

In [156]:
DATA_BASE_TEXT_ROUTE = "C:\\Users\\Sectorea\\Code\\database_linkedin\\text_analyzed\\"

In [159]:
def get_join_data(route):

    files = [file for file in listdir(route) if isfile(join(route, file))]
    data_frames = [pd.read_csv(route + file) for file in files]
    data_analyzed = pd.concat(data_frames)
    data_analyzed = data_analyzed.reset_index(drop=True)
    data_analyzed = data_analyzed.drop_duplicates(subset=["id"])

    return data_analyzed

In [99]:
def get_common_words(data_frame, column, number_of_values):

    variable_extension = " ".join(review for review in data_frame[column] if type(review) is not float)
    variable_count = variable_extension.split(" ")
    print(Counter(variable_count).most_common(number_of_values))

In [100]:
def get_column_value(data_frame, id, column):

    index = int(data_frame[data_frame["id"] == id].index.values)
    print(data_frame[column][index])

In [277]:
analyzed_texts = get_join_data(DATA_BASE_TEXT_ROUTE)
analyzed_texts = analyzed_texts.dropna(subset=["title", "company", "location", "posted", "applicants", "text", "level", "type", "functions", "industries"])
analyzed_texts["country"] = analyzed_texts["location"].apply(lambda x: x.split(" ")[-1])
analyzed_texts.shape

(3894, 15)

In [278]:
analyzed_texts.head(1)

,id,title,company,location,posted,applicants,text,level,type,functions,industries,key_words,misspelled_words,Experience,country
0,1781527759,Senior Data Engineer - 12 month fixed term,Optus,"Sydney, New South Wales, Australia",60.0,0,Senior Data EngineerThe Data Center of Excelle...,Mid-Senior level,Full-time,Information Technology,Telecommunications Internet Information Techn...,scala spark hive sql kafka sqoop flume nifi hd...,’s multitask ’ – eppe optus mentoring -pron-,Such As Onsite facilities at Macquarie Park su...,Australia

In [288]:
key_words_null.nunique()

id                  562
title               434
company             326
location             60
posted               60
applicants           44
text                514
level                 3
type                  6
functions            68
industries          209
key_words             0
misspelled_words    454
Experience          408
country               6
dtype: int64

In [289]:
key_words_null.country.value_counts(normalize=True)

Kingdom      0.355872
Australia    0.343416
Ireland      0.135231
Spain        0.096085
Zealand      0.067616
Area         0.001779
Name: country, dtype: float64

In [290]:
key_words_null.type.value_counts()

 Full-time      504
 Contract        26
 Volunteer       14
 Part-time       11
 Temporary        4
 Internship       3
Name: type, dtype: int64

In [282]:
get_common_words(analyzed_texts, "key_words", 100)

[('python', 1644), ('sql', 1330), ('cloud', 1039), ('java', 860), ('aws', 808), ('agile', 783), ('ai', 672), ('r', 661), ('mathematic', 509), ('spark', 502), ('azure', 358), ('tableau', 348), ('google', 347), ('hadoop', 345), ('linux', 299), ('mining', 295), ('scala', 293), ('etl', 288), ('docker', 287), ('visualisation', 274), ('gcp', 237), ('dashboard', 236), ('kubernetes', 214), ('startup', 212), ('kafka', 200), ('scrum', 184), ('backend', 178), ('node', 168), ('nlp', 164), ('microservice', 161), ('crm', 150), ('hive', 140), ('postgre', 133), ('javascript', 129), ('angular', 114), ('mongo', 114), ('jenkins', 113), ('windows', 106), ('frontend', 99), ('tensorflow', 98), ('keras', 91), ('jira', 88), ('qlik', 79), ('matlab', 67), ('jupyter', 65), ('kpi', 64), ('ansible', 56), ('bitbucket', 54), ('redis', 53), ('confluence', 52), ('kotlin', 48), ('pytorch', 47), ('elasticsearch', 43), ('databricks', 42), ('kinesis', 40), ('cloudera', 39), ('hdfs', 37), ('redux', 37), ('sagemaker', 34), ('virtualization', 32), ('neo', 32), ('github', 30), ('blockchain', 29), ('ssas', 25), ('impala', 25), ('kubeflow', 23), ('qlikview', 17), ('pyspark', 17), ('sklearn', 15), ('clojure', 14), ('lucene', 11), ('nifi', 10), ('kibana', 10), ('flume', 9), ('sqoop', 8), ('gitlab', 8), ('knime', 7), ('micromanagement', 3), ('postgresql', 3), ('qubole', 1), ('kudu', 1), ('qliksense', 1), ('powerbi', 1)]

In [291]:
key_words_null.isna().sum()

id                    0
title                 0
company               0
location              0
posted                0
applicants            0
text                  0
level                 0
type                  0
functions             0
industries            0
key_words           562
misspelled_words      7
Experience           71
country               0
dtype: int64

In [284]:
key_words_null = analyzed_texts[analyzed_texts.key_words.isnull()]
key_words_null = key_words_null.reset_index(drop=True)
key_words_null.shape

(562, 15)