In [1]:
from pymongo import MongoClient
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
client = MongoClient('mongodb+srv://jobs:f4Uo1b3ziIAhpPMf@cluster0-79fkx.mongodb.net/jobs?retryWrites=true&w=majority')
db=client.get_database("jobs")

SET TARGET TO SPECIFIC VALUE, IN THIS CASE AVAILABLE FIELD TO AVAILABLE

In [13]:
db.datasciences.update_many({}, {"$set": {"available":"Available"}, "$currentDate": {"lastModified": True}})

DELETE FIELD TARGET IN THIS CASE

In [16]:
db.datasciences_analysis.update_many({},{"$unset": {"target":1}})

SAVE AS CSV AND REMOVE FROM DATASET DATA SETS

In [ ]:
from datetime import datetime

In [47]:
date_selected = "2020-07-31"
selection_date = datetime.strptime(date_selected, "%Y-%m-%d")
data = list(db.datasciences.find({"posted": {"$lte" : selection_date }}))
db.datasciences.remove({"posted": {"$lte" : selection_date }})

C:\Users\Sectorea\Code\etl\src\python\.etl\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  after removing the cwd from sys.path.

{'n': 10453,
 'opTime': {'ts': Timestamp(1600088684, 4266), 't': 13},
 'electionId': ObjectId('7fffffff000000000000000d'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1600088684, 4266),
  'signature': {'hash': b'\n\xd8J\xbc\x95\xdf\x15\xf75\xbea\xdeF\x9b\xfe\xf4O\\\x13i',
   'keyId': 6821995709298900996}},
 'operationTime': Timestamp(1600088684, 4266)}

In [44]:
len(data)

10453

In [46]:
import csv
keys = data[0].keys()
with open(date_selected + ".csv", 'w', newline='', encoding="utf-8")  as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(data)

In [8]:
db.maria

Collection(Database(MongoClient(host=['cluster0-shard-00-02-79fkx.mongodb.net:27017', 'cluster0-shard-00-00-79fkx.mongodb.net:27017', 'cluster0-shard-00-01-79fkx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='Cluster0-shard-0', ssl=True), 'jobs'), 'maria')

In [7]:
db.list_collection_names()

['linkedins_clean', 'linkedins', 'linkedins_analysis']

In [10]:
text_1 = data_analyzed.text[3]
text_2 = data_analyzed.text[34]

In [11]:
texts = [text_1, text_2]

In [13]:
vectorizer = TfidfVectorizer(tokenizer=process_text,
                                stop_words=stopwords.words('english'),
                                max_df=0.5,
                                min_df=0.1,
                                lowercase=True)

NameError: name 'process_text' is not defined

In [37]:
print(data_analyzed.shape)
data_analyzed.head()

(7253, 2)

       job_id                                          key_words
0  1855588339                                   python cloud nlp
1  1842324264                                        python java
2  1851657471  python scala java spark sql google aws cloud a...
3  1829933627                                      python ai nlp
4  1836277476                                          aws cloud

In [38]:
cluster_data = pd.DataFrame(columns=["job_id", "key_words"])
cluster_data

Empty DataFrame
Columns: [job_id, key_words]
Index: []

In [39]:
shape = data_analyzed.shape[0]
for i in range(0, shape): 
    try:
        words = data_analyzed.key_words[i].split(" ")
        job_id = [data_analyzed.job_id[i]]*len(words)
        xtra = {"job_id": job_id, "key_word": words}
        cluster_data = cluster_data.append(pd.DataFrame(xtra))
    except:
        pass

In [40]:
cluster_data.shape

(34037, 3)