In [1]:
from pymongo import MongoClient
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
client = MongoClient('mongodb+srv://jobs:f4Uo1b3ziIAhpPMf@cluster0-79fkx.mongodb.net/jobs?retryWrites=true&w=majority')
db=client.get_database("jobs")

In [4]:
db["linkedins_analysis_2"].aggregate(	
    [ 	
        { "$sort": { "_id": 1 } }, 	
        { "$group": { 	
            "_id": "$job_id", 	
            "doc": { "$first": "$$ROOT" } 	
        }}, 	
        { "$replaceRoot": { "newRoot": "$doc" } },	
        { "$out": "linkedins_analysis"}	
    ]	
av)

In [7]:
db.datasciences.update_many({}, {'$set': {'available': "Available"}})

In [6]:
db.linkedins_analysis.cloneCollection()

TypeError: 'Collection' object is not callable. If you meant to call the 'cloneCollection' method on a 'Collection' object it is failing because no such method exists.

In [8]:
db.maria

Collection(Database(MongoClient(host=['cluster0-shard-00-02-79fkx.mongodb.net:27017', 'cluster0-shard-00-00-79fkx.mongodb.net:27017', 'cluster0-shard-00-01-79fkx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='Cluster0-shard-0', ssl=True), 'jobs'), 'maria')

In [7]:
db.list_collection_names()

['linkedins_clean', 'linkedins', 'linkedins_analysis']

In [10]:
text_1 = data_analyzed.text[3]
text_2 = data_analyzed.text[34]

In [11]:
texts = [text_1, text_2]

In [13]:
vectorizer = TfidfVectorizer(tokenizer=process_text,
                                stop_words=stopwords.words('english'),
                                max_df=0.5,
                                min_df=0.1,
                                lowercase=True)

NameError: name 'process_text' is not defined

In [37]:
print(data_analyzed.shape)
data_analyzed.head()

(7253, 2)

       job_id                                          key_words
0  1855588339                                   python cloud nlp
1  1842324264                                        python java
2  1851657471  python scala java spark sql google aws cloud a...
3  1829933627                                      python ai nlp
4  1836277476                                          aws cloud

In [38]:
cluster_data = pd.DataFrame(columns=["job_id", "key_words"])
cluster_data

Empty DataFrame
Columns: [job_id, key_words]
Index: []

In [39]:
shape = data_analyzed.shape[0]
for i in range(0, shape): 
    try:
        words = data_analyzed.key_words[i].split(" ")
        job_id = [data_analyzed.job_id[i]]*len(words)
        xtra = {"job_id": job_id, "key_word": words}
        cluster_data = cluster_data.append(pd.DataFrame(xtra))
    except:
        pass

In [40]:
cluster_data.shape

(34037, 3)