In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import spacy
import re
from os import listdir
from os.path import isfile, join

In [8]:
DATA_BASE_TEXT_ROUTE = "C:\\Users\\Sectorea\\Code\\linkedin\\database_linkedin\\text_analyzed\\"

In [9]:
def get_join_data(route):

    files = [file for file in listdir(route) if isfile(join(route, file))]
    data_frames = [pd.read_csv(route + file) for file in files]
    data_analyzed = pd.concat(data_frames)
    data_analyzed = data_analyzed.reset_index(drop=True)
    data_analyzed = data_analyzed.drop_duplicates(subset=["id"])

    return data_analyzed

In [10]:
def get_common_words(data_frame, column, number_of_values):

    variable_extension = " ".join(review for review in data_frame[column] if type(review) is not float)
    variable_count = variable_extension.split(" ")
    print(Counter(variable_count).most_common(number_of_values))

In [11]:
def get_column_value(data_frame, id, column):

    index = int(data_frame[data_frame["id"] == id].index.values)
    print(data_frame[column][index])

In [12]:
analyzed_texts = get_join_data(DATA_BASE_TEXT_ROUTE)
analyzed_texts = analyzed_texts.dropna(subset=["title", "company", "location", "posted", "applicants", "text", "level", "type", "functions", "industries"])
analyzed_texts["country"] = analyzed_texts["location"].apply(lambda x: x.split(" ")[-1])
analyzed_texts.shape

(5524, 15)

In [278]:
analyzed_texts.head(1)

,id,title,company,location,posted,applicants,text,level,type,functions,industries,key_words,misspelled_words,Experience,country
0,1781527759,Senior Data Engineer - 12 month fixed term,Optus,"Sydney, New South Wales, Australia",60.0,0,Senior Data EngineerThe Data Center of Excelle...,Mid-Senior level,Full-time,Information Technology,Telecommunications Internet Information Techn...,scala spark hive sql kafka sqoop flume nifi hd...,’s multitask ’ – eppe optus mentoring -pron-,Such As Onsite facilities at Macquarie Park su...,Australia

In [288]:
key_words_null.nunique()

id                  562
title               434
company             326
location             60
posted               60
applicants           44
text                514
level                 3
type                  6
functions            68
industries          209
key_words             0
misspelled_words    454
Experience          408
country               6
dtype: int64

In [289]:
key_words_null.country.value_counts(normalize=True)

Kingdom      0.355872
Australia    0.343416
Ireland      0.135231
Spain        0.096085
Zealand      0.067616
Area         0.001779
Name: country, dtype: float64

In [290]:
key_words_null.type.value_counts()

 Full-time      504
 Contract        26
 Volunteer       14
 Part-time       11
 Temporary        4
 Internship       3
Name: type, dtype: int64

In [13]:
get_common_words(analyzed_texts, "key_words", 100)

[('python', 2466), ('sql', 1969), ('cloud', 1514), ('aws', 1213), ('java', 1189), ('agile', 1132), ('r', 976), ('ai', 974), ('spark', 789), ('mathematic', 755), ('hadoop', 533), ('tableau', 507), ('azure', 507), ('google', 504), ('etl', 469), ('scala', 465), ('docker', 423), ('visualisation', 415), ('mining', 414), ('linux', 409), ('dashboard', 362), ('kafka', 351), ('gcp', 342), ('kubernetes', 301), ('startup', 288), ('nlp', 274), ('backend', 262), ('scrum', 242), ('node', 238), ('microservice', 226), ('hive', 224), ('postgre', 206), ('crm', 201), ('javascript', 185), ('jenkins', 177), ('mongo', 172), ('angular', 152), ('tensorflow', 141), ('frontend', 140), ('keras', 136), ('windows', 126), ('jira', 123), ('qlik', 111), ('jupyter', 92), ('kpi', 91), ('ansible', 90), ('matlab', 88), ('redis', 85), ('confluence', 75), ('elasticsearch', 73), ('databricks', 64), ('bitbucket', 62), ('pytorch', 62), ('kinesis', 60), ('cloudera', 57), ('kotlin', 57), ('sagemaker', 53), ('redux', 53), ('hdfs', 51), ('neo', 47), ('blockchain', 44), ('github', 40), ('ssas', 37), ('impala', 37), ('virtualization', 36), ('kubeflow', 36), ('lucene', 21), ('clojure', 20), ('qlikview', 20), ('sklearn', 18), ('pyspark', 18), ('flume', 14), ('sqoop', 12), ('nifi', 12), ('kibana', 12), ('gitlab', 12), ('knime', 7), ('micromanagement', 5), ('postgresql', 3), ('qubole', 1), ('kudu', 1), ('qliksense', 1), ('powerbi', 1)]

In [14]:
key_words_null.isna().sum()

NameError: name 'key_words_null' is not defined

In [284]:
key_words_null = analyzed_texts[analyzed_texts.key_words.isnull()]
key_words_null = key_words_null.reset_index(drop=True)
key_words_null.shape

(562, 15)

In [15]:
get_common_words(analyzed_texts, "misspelled_words", 100)

[('', 31383), ('-pron-', 5334), ('’s', 1908), ("'s", 1670), ('–', 1084), ('’', 948), ('£', 929), ('\xa0', 698), ('www', 464), ('website', 410), ('py', 264), ('…', 235), ('https', 225), ('acuman', 219), ('™', 210), ('analytics', 203), ('modeling', 200), ('scikit', 178), ('html', 175), ('—', 172), ('r&d', 171), ('css', 165), ('iqvia', 160), ('emea', 155), ('tdd', 150), ('timeline', 147), ('mentoring', 139), ('responsibilitie', 138), ('troubleshoot', 128), ('impactful', 128), ('numpy', 121), ('http', 120), ('skillset', 110), ('annum', 108), ('terraform', 108), ('datar', 104), ('performant', 101), ('blog', 99), ('emr', 99), ('reperio', 99), ('cto', 95), ('tful', 95), ('architecte', 94), ('facebook', 92), ('fintech', 85), ('focusse', 84), ('covid', 82), ('json', 82), ('eeo', 82), ('php', 81), ('serverless', 81), ('pharma', 81), ('html5', 78), ('debug', 78), ('xml', 78), ('\xa0\xa0', 75), ('sme', 73), ('vba', 71), ('€', 69), ('paa', 68), ('perl', 68), ('mvc', 66), ('cybersecurity', 64), ('cro', 62), ('onboarde', 62), ('meetup', 60), ('productionise', 60), ('ecommerce', 59), ('gdpr', 59), ('ssis', 56), ('alteryx', 56), ('sdlc', 54), ('webpack', 54), ('®', 51), ('containerisation', 50), ('ql', 50), ('metadata', 49), ('ideation', 49), ('matplotlib', 49), ('sarl', 49), ('llib', 48), ('instagram', 47), ('rpa', 47), ('codebase', 46), ('rollout', 45), ('refactore', 45), ('learning', 45), ('carthy', 44), ('wellbee', 43), ('informatica', 43), ('devop', 43), ('firmwide', 43), ('rmccarthy@datatech', 43), ('golang', 42), ('methodologie', 42), ('icml', 42), ('solr', 42), ('flink', 42), ('hackathon', 41), ('internship', 41)]